In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# Preprocessing
First read the housing price data set.

In [10]:
"""
dat = pd.read_csv('13_Tokyo_20053_20163.csv', sep=',', header=None, 
                 names=('id','type','chiiki','jiscode','ken','shi','chiku','eki','ekikyori',
                        'price','unit_price','madori','menseki','unit_price2','keijo',
                        'maguchi','nobeyuka','kenchikunen','kouzou','youto','mokuteki','dourohoui',
                        'dourotype','douro_fukuin','toshikeikaku','kenpeiritsu',
                        'yousekiritsu','torihiki_jiten','bikou'),
                 dtype={'id':np.int, 'type':np.str, 'chiiki':np.str, 'jiscode':np.str, 'ken':np.str, 'shi':np.str, 'chiku':np.str, 'eki':np.str,
                       'ekikyori':np.float32, 'price':np.float32, 'unit_price':np.float32, 'madori':np.str, 'menseki':np.float32, 'unit_price2':np.float32,
                       'keijo':np.str, 'maguchi':np.str, 'nobeyuka':np.float32, 'kenchikunen':np.str, 'kouzou':np.str, 'youto':np.str, 'mokuteki':np.str,
                       'dourohoui':np.str, 'dourotype':np.str, 'douro_fukuin':np.str, 'toshikeikaku':np.str, 'kenpeiritsu':np.float32, 
                       'yousekiritsu':np.float32, 'torihiki_jiten':np.str, 'bikou':np.str})
"""
dat = pd.read_csv('13_Tokyo_20053_20163.csv', sep=',', header=None, index_col='id',
                 names=('id','type','chiiki','jiscode','ken','shi','chiku','eki','ekikyori',
                        'price','unit_price','madori','menseki','unit_price2','keijo',
                        'maguchi','nobeyuka','kenchikunen','kouzou','youto','mokuteki','dourohoui',
                        'dourotype','douro_fukuin','toshikeikaku','kenpeiritsu',
                        'yousekiritsu','torihiki_jiten','bikou'),
                 dtype='object')

In [11]:
dat.head(3)

,type,chiiki,jiscode,ken,shi,chiku,eki,ekikyori,price,unit_price,...,youto,mokuteki,dourohoui,dourotype,douro_fukuin,toshikeikaku,kenpeiritsu,yousekiritsu,torihiki_jiten,bikou
id,,,,,,,,,,,,,,,,,,,,,
1,中古マンション等,NaN,13101,東京都,千代田区,飯田橋,飯田橋,1,51000000,NaN,...,住宅,住宅,NaN,NaN,NaN,商業地域,80,600,平成28年第３四半期,未改装を購入
2,宅地(土地と建物),商業地,13101,東京都,千代田区,飯田橋,飯田橋,5,300000000,NaN,...,その他,住宅,北東,区道,5.0,商業地域,80,500,平成28年第１四半期,NaN
3,宅地(土地と建物),商業地,13101,東京都,千代田区,飯田橋,飯田橋,4,170000000,NaN,...,事務所、倉庫,住宅,北東,区道,4.0,商業地域,80,700,平成28年第１四半期,NaN

In [88]:
d = dat[(dat.type=='中古マンション等') & (dat.youto=='住宅')]
d.groupby('ekikyori')['type'].count()

ekikyori
0           1127
1           5273
10          6702
11          6257
12          3538
13          3999
14          3058
15          2917
16          2184
17           620
18          1419
19          1071
1H30?2H        8
1H?1H30       81
2           7886
20           818
21           575
22           172
23           576
24           389
25           372
26           243
27            59
28           223
29           204
2H?           16
3          11317
30分?60分     1075
4          12681
5          11617
6          13151
7           9143
8          10375
9           8970
Name: type, dtype: int64

# Converting each column into the right format
We read all the variables as 'object.' We convert some columns into values where appropriate.

'ekikyori' takes integer for most records, and we can see '1H30' and '30分'. We will convert to a value

In [89]:
d.loc[d.ekikyori=='30分?60分', 'ekikyori'] = '60'
d.loc[d.ekikyori=='2H?', 'ekikyori'] = '120'
d.loc[d.ekikyori=='1H30?2H', 'ekikyori'] = '120'
d.loc[d.ekikyori=='1H?1H30', 'ekikyori'] = '90'

//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/pandas/core/indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [103]:
d.ekikyori = pd.to_numeric(d.ekikyori)
d.menseki = pd.to_numeric(d.menseki)
d.kenpeiritsu = pd.to_numeric(d.kenpeiritsu)/100.0
d.yousekiritsu = pd.to_numeric(d.yousekiritsu)/100.0

//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [92]:
d.price = pd.to_numeric(d.price)

//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [105]:
d.iloc[:3, 25:30]

   yousekiritsu torihiki_jiten   bikou
id
1           600     平成28年第３四半期  未改装を購入
4           500     平成28年第１四半期  未改装を購入
5           700     平成28年第１四半期  未改装を購入

In [108]:
d.groupby('bikou')['type'].count()
# remove
# unit_price
# unit_price2
# keijo
# maguchi
# nobeyuka
# dourohoui
# dourotype
# douro_fukuin

bikou
その他事情有り                        1
他の権利・負担付き                      1
他の権利・負担付き、改装済を購入               4
他の権利・負担付き、未改装を購入              15
他の権利・負担付き、調停・競売等、未改装を購入        1
改装済を購入                     32550
改装済を購入、その他事情有り                 4
未改装を購入                     88887
未改装を購入、その他事情有り                22
瑕疵有りの可能性、改装済を購入                3
瑕疵有りの可能性、未改装を購入                6
調停・競売等                       457
調停・競売等、改装済を購入                101
調停・競売等、未改装を購入               2479
関係者間取引                        14
関係者間取引、改装済を購入                 31
関係者間取引、未改装を購入                191
Name: type, dtype: int64

From 'bikou' column, we can find if the apartment was reformed or not, the transaction between two professional dealers.

In [117]:
d['is_reformed'] = [1 if x in (['他の権利・負担付き、改装済を購入','改装済を購入','改装済を購入、その他事情有り',
                               '瑕疵有りの可能性、改装済を購入','調停・競売等、改装済を購入','関係者間取引、改装済を購入']) else 0 for x in d.bikou]
d['is_not_reformed'] = [1 if x in (['他の権利・負担付き、未改装を購入','他の権利・負担付き、調停・競売等、未改装を購入','未改装を購入',
                               '未改装を購入、その他事情有り','瑕疵有りの可能性、未改装を購入','調停・競売等、未改装を購入',
                                   '関係者間取引、未改装を購入']) else 0 for x in d.bikou]
d['is_auction'] = [1 if x in ['調停・競売等','調停・競売等、改装済を購入','調停・競売等、未改装を購入'] else 0 for x in d.bikou]
d['is_direct_transaction'] = [1 if x in ['関係者間取引','関係者間取引、改装済を購入','関係者間取引、未改装を購入'] else 0 for x in d.bikou]

//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

We need to convert 'torihiki_jiten' (transaction date) and 'kenchikunen' (year of built). These are denoted by gengou.

In [121]:
print(d.groupby('kenchikunen')['type'].count())

kenchikunen
平成10年    4510
平成11年    4523
平成12年    5419
平成13年    4607
平成14年    5124
平成15年    5874
平成16年    5733
平成17年    6856
平成18年    6592
平成19年    5593
平成20年    5138
平成21年    4469
平成22年    2840
平成23年    1867
平成24年    2009
平成25年    1290
平成26年    1110
平成27年    1091
平成28年     147
平成2年     2299
平成3年     2924
平成4年     2330
平成5年     1339
平成6年     1909
平成7年     3145
平成8年     3341
平成9年     3565
平成元年     2242
戦前        123
昭和21年       5
         ...
昭和34年      14
昭和35年       4
昭和36年      10
昭和37年      10
昭和38年      26
昭和39年      63
昭和40年      76
昭和41年     146
昭和42年     170
昭和43年     474
昭和44年     690
昭和45年    1204
昭和46年    1495
昭和47年    1307
昭和48年    1323
昭和49年    1666
昭和50年     824
昭和51年    1002
昭和52年    1013
昭和53年    1734
昭和54年    1983
昭和55年    1805
昭和56年    1465
昭和57年    1692
昭和58年    1649
昭和59年    3426
昭和60年    2728
昭和61年    2221
昭和62年    2452
昭和63年    2665
Name: type, dtype: int64

We make a list of years manually.

In [122]:
gengou = []
gengou.append("戦前")
shouwa = range(21, 64)
for yr in shouwa:
    gengou.append("昭和"+np.str(yr)+"年")
# 平成元年
gengou.append("平成元年")
# 平成２年以降
heisei = range(2, 30)
for yr in heisei:
    gengou.append("平成"+np.str(yr)+"年")
seireki = range(1945, 2018) 
kenchikunen = {k: v for k, v in zip(gengou, seireki)}
# {平成２８年: 2016, 昭和５４年: 1979, ...}

We now change the kenchikunen in the data set. But kenchikunen has 3025 null values, so we need to delete those records.

In [134]:
d.isnull().sum()

type                          0
chiiki                   136394
jiscode                       0
ken                           0
shi                           0
chiku                        44
eki                         283
ekikyori                   8278
price                         0
unit_price               136394
madori                     4034
menseki                       0
unit_price2              136394
keijo                    136394
maguchi                  136394
nobeyuka                 136394
kenchikunen                3025
kouzou                     1033
youto                         0
mokuteki                 102656
dourohoui                136394
dourotype                136394
douro_fukuin             136394
toshikeikaku               2441
kenpeiritsu                2986
yousekiritsu               2986
torihiki_jiten                0
bikou                     11627
is_reformed                   0
is_not_reformed               0
is_auction                    0
is_direct_transaction         0
dtype: int64

In [147]:
d['kenchiku_year'] = [np.nan if pd.isnull(y) else kenchikunen[y] for y in d.kenchikunen]
d[['kenchikunen', 'kenchiku_year']].head(5)

//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   kenchikunen  kenchiku_year
id
1        昭和59年         1984.0
4        平成19年         2007.0
5        昭和57年         1982.0
6        平成19年         2007.0
10       平成11年         1999.0

From the kenchiku_year, we can calculate the age of the apartment as of the transaction date. The transaction quarter is available in the data set, so we take the difference between the two years.

In [155]:
d['transaction_year'] = [kenchikunen[v[:5]] for v in d.torihiki_jiten]
d[['torihiki_jiten', 'transaction_year']].head(5)
#for x in d.torihiki_jiten[:10]:
#    print(x[:5], kenchikunen[x[:5]])

//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   torihiki_jiten  transaction_year
id
1      平成28年第３四半期              2016
4      平成28年第１四半期              2016
5      平成28年第１四半期              2016
6      平成28年第１四半期              2016
10     平成27年第４四半期              2015

In [162]:
d['age'] = np.maximum(d.transaction_year - d.kenchiku_year, 0)
print(d.age[:20])

id
1     32.0
4      9.0
5     34.0
6      9.0
10    16.0
11    31.0
12    33.0
13     8.0
14    31.0
16    31.0
17     8.0
18    30.0
19     NaN
20     2.0
21    31.0
22    11.0
23     7.0
24     7.0
25    11.0
26    30.0
Name: age, dtype: float64

//anaconda/envs/mlnd-capstone/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

We now save the data set into pickle so we can re-start easily.

In [164]:
import pickle
pickle.dump(d, open('tokyo_apartment.p', 'wb'))

In [166]:
d = pickle.load(open('tokyo_apartment.p', 'rb'))